.widget-order-stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin-top:100px; 
}

@media  screen  and (max-width: 450px) {
    .widget-order-stats{
        display: flex;
        flex-direction: column;
        margin-top:50px;
    }
}

@media  screen  and (max-width: 1450px) {
    .widget-order-stats{
        display: flex;
        gap: 10px;
    }
}